<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xmlns:context="http://www.springframework.org/schema/context"
    xmlns:util="http://www.springframework.org/schema/util"
    xmlns:aop="http://www.springframework.org/schema/aop"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd
    http://www.springframework.org/schema/aop 
    http://www.springframework.org/schema/aop/spring-aop.xsd
    http://www.springframework.org/schema/util 
    http://www.springframework.org/schema/util/spring-util.xsd">
    
    <context:component-scan base-package="com.bms.services"></context:component-scan>
    <!-- <bean id="mba" class="com.bms.services.BeforeLogger"/>
    <bean id="al" class="com.bms.services.AfterLogger"/>
    <bean id="proxy" class="org.springframework.aop.framework.ProxyFactoryBean">
    	<property name="interceptorNames">
    		<list>
    			<value>mba</value>
    			<value>al</value>
    		</list>
    	</property>
    	<property name="targetName" value="bacc"></property>
    </bean> -->
    <bean id="bacc" class="com.bms.beans.BankAccount">
    	<property name="id" value="hdfc123"></property>
    	<property name="balance" value="10000"></property>
    </bean>
    <bean class="org.springframework.aop.aspectj.annotation.AnnotationAwareAspectJAutoProxyCreator"></bean>
</beans>